.text {
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: 0.25rem solid white ;
    border-radius: 10px;
}

.label {
    color: #F1BE4B;
    font-style: italic;
    font-weight: bold;
}