@import "tailwindcss";

:root {
  --background: #30313d;
  --foreground: #171717;
  --creme: #EBDFCB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-creme: var(--creme);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-green-300: #7B9F49;
  --color-pink-300: #F37E6A;
  --color-black-200: #232432;
  --color-yellow-300: #F1BE4B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #30313d;
    --foreground: #ededed;
    --color-green-300: #7B9F49;
    --color-pink-300: #F37E6A;
    --color-black-200: #232432;
    --color-yellow-300: #F1BE4B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
